.barCalendar {
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;

    height: 245px;
    width: 500px;

    background-color: var(--dark-gray);
    border: 1px solid var(--light-gray);
    border-radius: 25px;
}

.header {
    display: flex;
    flex-direction: row;
    align-items: end;

    height: 17%;
    width: 100%;
    padding-left: 45px;
}

.dateInterval {
    font-size: 18px;
    font-weight: bold;

    color: var(--white);
}

.dateButtons {
    position: absolute;
    right: 20px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.dateButtonContainers {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 25px;
    width: 25px;
}

.dateButton {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 25px;
    width: 25px;

    background: none;
    border: none;

    cursor: pointer;
}

.arrow {
    height: 12px;
    width: 7px;

    fill: var(--light-gray);
}

.dateButton:hover .arrow {
    fill: var(--white);
}

.body {
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;

    height: 68%;
    width: 100%;
}

.graph {
    position: absolute;
    bottom: 1px;
    left: 55px;

    display: flex;
    justify-content: space-evenly;
    align-items: end;

    height: 150px;
    width: 370px;
}

.bar {
    display: flex;
    flex: 1 1;
    flex-direction: column;
    align-items: center;

    height: 150px;
}

.barTitle {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 30px;
    width: 50%;

    font-size: 14px;
    font-weight: 700;

    color: var(--white);
}

.barTitleToday {
    z-index: 10;

    display: flex;
    justify-content: center;
    align-items: center;

    height: 27px;
    width: 50%;
    padding-top: 4px;

    font-size: 14px;
    font-weight: 700;

    color: var(--black);
    background-color: var(--white);
    border-radius: 0px 0px 10px 10px;
}

.barTitleTodayWithoutTraining {
    z-index: 10;

    display: flex;
    justify-content: center;
    align-items: center;

    height: 23px;
    width: 50%;
    margin-top: 4px;

    font-size: 14px;
    font-weight: 700;

    color: var(--black);
    background-color: var(--white);
    border-radius: 10px;
}

.barPartsContainer {
    z-index: 10;

    display: flex;
    flex-direction: column-reverse;
    align-items: center;

    height: 120px;
    width: 50%;
    min-width: 6px;
    max-width: 27px;
}

@keyframes fadeIn {
    from {
        height: 0px;
    }
}

.barPart {
    display: flex;

    width: 100%;

    border-radius: 10px 10px 0px 0px;

    animation: fadeIn 0.5s ease;
}

.extraBarPart {
    border-radius: 10px;

    animation: fadeIn 0.5s ease;
}

.time {
    position: absolute;
    right: 35px;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 20px;

    font-size: 12px;

    color: var(--white);
}

.backgroundLine {
    position: absolute;

    height: 0px;
    width: 380px;
    margin: 0px 25px 0px 0px;

    border: none;

    border-top: 1px dashed var(--light-gray);
}

.bottomLine {
    position: absolute;
    bottom: 30px;

    height: 1px;
    width: 405px;
    margin: 0;

    background-color: var(--light-gray);
    border: none;
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;

    height: 15%;
    width: 100%;
    padding-top: 1px;
}

.segmentedControlSize {
    height: 24px;
    width: 355px;
}
