.calendar {
    display: flex;
    flex-direction: row;
    align-items: center;

    width: 500px;
    height: 400px;
    padding: 0px 7px 0px 7px;

    background-color: var(--dark-gray);
    border: 1px solid var(--light-gray);
    border-radius: 25px;

    overflow: hidden;
}

.calendar__button {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 8%;
    height: 100%;
    padding-top: 43px;

    background: none;
    border: none;

    cursor: pointer;
}

.calendar__main {
    width: 84%;
    height: 100%;
}

.calendar__header {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 15%;
    padding-top: 10px;

    font-size: 22px;
    font-weight: 700;

    color: var(--accent);
}

.calendar__body {
    display: grid;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 85%;
    padding-bottom: 20px;
    gap: 1px 1px;

    grid-template-columns: repeat(7, 1fr);
}

.weekDays {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    justify-self: center;

    width: 45px;
    height: 45px;

    font-weight: 700;

    color: var(--white);
}

.dayContainer {
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    justify-self: center;

    border-radius: 50%;

    cursor: pointer;
}

.day {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    justify-self: center;

    width: 41px;
    height: 41px;

    color: var(--white);
    border-radius: 50%;
}

.dayContainer:hover .day {
    background-color: var(--gray);
}

.dayOutside {
    color: var(--light-gray);
}

.dayOutside:hover {
    color: var(--white);
}

.today {
    width: 41px;
    height: 41px;

    font-weight: 700;

    color: var(--black);
    background-color: var(--white);
}

.today.trained {
    width: 29px;
    height: 29px;
}

.dayContainer:hover .today {
    background-color: var(--dark-white);
}

.arrow {
    width: 19px;
    height: 31px;

    fill: var(--light-gray);
}

.calendar__button:hover .arrow {
    fill: var(--white);
}
