.toggle_container {
    cursor: pointer;

    position: relative;

    border: 1px solid var(--light-gray);
    border-radius: 12px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.toggle_button {
    color: var(--white);
    font-size: 14px;
    font-weight: 700;

    height: 100%;
    flex: 1;

    border-radius: 10px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.active_toggle_button {
    position: absolute;
    top: 1px;

    height: calc(100% - 2px);

    background-color: var(--white);
    border-radius: 10px;

    display: flex;
    overflow: hidden;

    transition: 0.5s ease-in-out;
}

.active_titles_container {
    position: absolute;
    top: -2px;

    border-radius: 10px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding: 1px;

    transition: 0.5s ease-in-out;
}

.active_toggle_title {
    color: var(--black);
    font-size: 14px;
    font-weight: 700;

    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}