.toggle_container {
    position: relative;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    border: 1px solid var(--light-gray);
    border-radius: 12px;

    cursor: pointer;
}

.toggle_button {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;

    height: 100%;

    font-size: 14px;
    font-weight: 700;

    color: var(--white);
    border-radius: 10px;
}

.active_toggle_button {
    position: absolute;
    top: 1px;

    display: flex;

    height: calc(100% - 2px);

    background-color: var(--white);
    border-radius: 10px;

    transition: 0.5s ease-in-out;

    overflow: hidden;
}

.active_titles_container {
    position: absolute;
    top: -2px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    padding: 1px;

    border-radius: 10px;

    transition: 0.5s ease-in-out;
}

.active_toggle_title {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100%;

    font-size: 14px;
    font-weight: 700;

    color: var(--black);
}
