.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    font-family: "Montserrat", sans-serif;
    font-weight: 700;

}

.title {
    margin-top: 20px;
    font-size: 44px;
    color: var(--white);
}