.container {
    width: 800px;
    height: 500px;
    padding: 40px 0;
    position: relative;
}

.block {
    height: 100%;
    background-color: var(--dark-gray);
    border: 1px solid var(--light-gray);
    border-radius: 25px;

    display: flex;
    align-items: center;
}

.block_item {
    width: 50%;
    text-align: center;
}

.block_item__title {
    font-size: 1.4rem;
    font-weight: 700;
    color: var(--white);
    margin-bottom: 20px;
}

.form_box {
    background-color: var(--dark-gray);
    border: 1px solid var(--light-gray);
    height: 100%;
    width: 50%;
    border-radius: 25px;

    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;

    transition: 0.5s ease-in-out;

    display: flex;
    align-items: center;

    overflow: hidden;
}

.form__forgot {
    font-size: 12px;
    color: var(--white);
}

.form_signin {
    width: 100%;
    padding: 50px;
    font-size: 16px;

    position: absolute;
    transition: 0.5s;
    text-align: center;

    left: 0;
    transition-delay: 0.25s;
}

.form_signup {
    width: 100%;
    padding: 50px;
    font-size: 16px;

    position: absolute;
    transition: 0.5s;
    text-align: center;

    left: 100%;
    transition-delay: 0s;
}

.form_box.active {
    left: 50%;
}

.form_box.active .form_signin {
    left: -100%;
    transition-delay: 0s;
}

.form_box.active .form_signup {
    left: 0;
    transition-delay: 0.25s;
}

@media (max-width: 992px) {
    .container {
        max-width: 400px;
        height: 650px;
        padding: 0;
        margin: 0 20px;
    }

    .block {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .block-item {
        width: 100%;
        padding: 30px 0;
    }

    .form-box {
        width: 100%;
        height: 500px;

        top: 0;
    }

    .form-box.active {
        top: 150px;
        left: 0;
    }
}