.container {
    position: relative;

    display: flex;
    justify-content: center;

    height: 500px;
    width: 800px;
    padding: 40px 0;
}

.block {
    display: flex;
    align-items: center;

    height: 100%;
    width: 97%;
}

.block_item {
    text-align: center;

    width: 50%;
}

.block_item__title {
    margin-bottom: 20px;

    font-size: 1.4rem;
    font-weight: 700;

    color: var(--white);
}

.form_box {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;

    display: flex;
    align-items: center;

    height: 100%;
    width: 50%;

    transition: 0.5s ease-in-out;

    overflow: hidden;
}

.form__forgot {
    font-size: 12px;

    color: var(--white);
}

.form_signin {
    position: absolute;
    left: 0;

    text-align: center;

    width: 100%;
    padding: 50px;

    font-size: 16px;

    transition: 0.5s;
    transition-delay: 0.25s;
}

.form_signup {
    position: absolute;
    left: 100%;

    text-align: center;

    width: 100%;
    padding: 50px;

    font-size: 16px;

    transition: 0.5s;
    transition-delay: 0s;
}

.form_box.active {
    left: 50%;
}

.form_box.active .form_signin {
    left: -100%;

    transition-delay: 0s;
}

.form_box.active .form_signup {
    left: 0;

    transition-delay: 0.25s;
}

.input {
    width: 300px;
}

@media (width <= 992px) {
    .container {
        height: 650px;
        max-width: 400px;
        margin: 0 20px;
        padding: 0;
    }

    .block {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .block-item {
        width: 100%;
        padding: 30px 0;
    }

    .form-box {
        top: 0;

        height: 500px;
        width: 100%;
    }

    .form-box.active {
        top: 150px;
        left: 0;
    }
}
