.toast {
    position: relative;
    right: 0px;

    backdrop-filter: blur(15px);
    background-color: rgba(24, 24, 27, 60%);
    height: auto;
    width: 400px;

    color: var(--white);

    display: flex;
    align-items: center;

    border: 1px solid var(--light-gray);
    border-radius: 15px;

    margin-top: 20px;

    /* transition: 0.3s ease-in-out; */
}

.toast.active {
    right: -200%;

    transition: 0.3s ease-in-out;
}

.hidden {
    display: none;
}

.close {
    right: 10px;
    top: 10px;
    position: fixed;
}

.close:hover {
    cursor: pointer;
}

.content {
    margin: 20px 0px;
    margin-right: 5px;
}

.icon {
    margin: 15px;
}

.title {
    font-weight: 700;
    font-size: 18px;

    margin-bottom: 5px;
}

.message {
    font-size: 16px;
}