.form-box {
    display: flex;
    align-items: center;

    height: 270px;
    width: 450px;

    background-color: var(--dark-gray);
    border: 1px solid var(--light-gray);
    border-radius: 25px;

    transition: 0.5s ease-in-out;
}

.form {
    text-align: center;

    width: 100%;
    padding: 50px;

    font-size: 16px;

    transition: 0.5s;
    transition-delay: 0.25s;
}
