:root {
    --black: #09090b;
    --dark-gray: #18181b;
    --gray: #27272a;
    --light-gray: #434343;
    --white: #fafafa;

    --green: #5def8d;
    --dark-green: #235935;
    --blue: #366efe;
    --red: #ef5d5d;
}

* {
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

body {
    margin: 0;

    background-color: var(--black);
}
