.container {
    position: fixed;
    top: 0px;
    right: -330px;
    z-index: 1000;

    height: 100vh;
    width: 330px;
}

.blind {
    position: fixed;
    top: 0px;
    right: 0px;

    height: 100%;
    width: 100%;

    background-color: rgba(0, 0, 0, 0);

    visibility: hidden;

    transition: 0.3s;
}

.blind.active {
    background-color: rgba(0, 0, 0, 0.7);

    visibility: visible;

    transition: 0.3s;
}

.menu {
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: 1000;

    display: flex;
    flex-direction: column;

    height: 100vh;
    width: 330px;

    background-color: var(--dark-gray);
    border: 1px solid var(--gray);
    border-radius: 25px 0px 0px 25px;

    transition: 0.3s ease-in-out;

    overflow: hidden;
}

.menu.active {
    right: 330px;

    transition: 0.3s ease-in-out;
}

.closeButton {
    position: absolute;
    top: 10px;
    right: 10px;

    display: flex;
    justify-content: center;
    align-items: center;

    height: 35px;
    width: 35px;
    padding: 0;

    background: none;
    border: none;

    cursor: pointer;
}

.closeButton:hover {
    background-color: var(--gray);
    border-radius: 10px;
}

.close {
    height: 14px;
    width: 14px;

    fill: var(--white);
}

.miniProfile {
    display: flex;
    flex-direction: row;

    margin: 22px;
}

.avatar {
    border: 1px solid var(--gray);
    border-radius: 50%;
}

.userInfo {
    display: flex;
    flex-direction: column;

    margin-left: 10px;
}

.names {
    display: flex;
}

.displayName {
    margin-right: 10px;

    font-size: 16px;
    font-weight: bold;

    color: var(--white);
}

.userName {
    font-size: 16px;

    color: var(--dark-white);
}

.userEmail {
    margin-top: 3px;

    font-size: 16px;
    font-weight: 500;

    color: var(--light-gray);
}

.itemsContainer {
    display: flex;
    flex-direction: column;

    margin: 10px 18px 10px 18px;
}

.item {
    display: flex;
    flex-direction: row;
    align-items: center;

    height: 35px;
    padding-left: 12px;

    background-color: var(--dark-gray);
    border: 0;
    border-radius: 12px;

    cursor: pointer;
}

.item:hover {
    background-color: var(--gray);
}

.item_title {
    margin-left: 10px;

    font-size: 15px;
    font-weight: 500;

    color: var(--white);
}

.item_titleRed {
    margin: 0px 0px 1px 10px;

    font-size: 15px;
    font-weight: 500;

    color: var(--red);
}

.bottom {
    display: flex;
    flex: 1;
    flex-direction: column-reverse;

    padding-bottom: 8px;
}

.separator {
    height: 1px;
    width: 290px;
    margin: 0 auto;

    background-color: var(--gray);
    border: none;
}
