.button {
    height: 40px;
    min-width: 160px;
    padding: 0 17px;

    font-size: inherit;
    font-size: 18px;
    font-weight: 700;

    color: var(--button-color);
    background-color: var(--button-background-color);
    border: none;
    border-radius: 15px;

    cursor: pointer;

    transition:
        transform 0.3s ease,
        box-shadow 0.3s ease;
}

.button:disabled {
    background-color: var(--button-background-disabled-color);

    cursor: default;
}

.button:not([disabled]):hover {
    box-shadow: 0 0 15px var(--button-background-color);

    transition:
        transform 0.3s ease,
        box-shadow 0.3s ease;
}

.button:not([disabled]):active {
    transition:
        transform 0.1s ease,
        box-shadow 0.3s ease;
    transform: scale(0.95);
}
