.screen {
    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.calendar {
    background-color: var(--dark-gray);
    border: 1px solid var(--light-gray);
    height: 400px;
    width: 500px;
    border-radius: 25px;

    display: flex;
    align-items: center;
    flex-direction: row;
    overflow: hidden;
}

.calendar__button {
    cursor: pointer;

    color: var(--light-gray);
    font-size: 22px;
    font-weight: 700;

    height: 100%;
    width: 7%;

    background: none;
    border: none;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.calendar__button:hover {
    background-color: var(--gray);
}

.calendar__main {
    height: 100%;
    width: 86%;
}

.calendar__header {
    color: var(--accent);
    font-size: 22px;
    font-weight: 700;

    height: 15%;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    padding-top: 11px;
}

.calendar__body {
    height: 85%;
    width: 100%;

    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 1px 1px;

    justify-content: center;
    align-items: center;
    
    padding-bottom: 15px;
}

.weekDays {
    color: var(--white);
    font-weight: 700;

    height: 45px;
    width: 45px;

    justify-self: center;
    align-self: center;

    display: flex;
    justify-content: center;
    align-items: center;
}

.day {
    cursor: pointer;

    color: var(--white);

    height: 45px;
    width: 45px;

    border-radius: 50%;

    justify-self: center;
    align-self: center;

    display: flex;
    justify-content: center;
    align-items: center;
}

.day:hover {
    background-color: var(--gray);
}

.dayOutside {
    color: var(--light-gray);
}

.dayOutside:hover {
    color: var(--white);
}

.today {
    color: var(--black);
    font-weight: 700;
    background-color: var(--accent);
    height: 35px;
    width: 35px;
    transition: font-size 0.1s ease-out, width 0.1s ease-out, height 0.1s ease-out; 
}

.today:hover {
    color: var(--black);
    font-size: 21px;
    background-color: var(--accent);
    height: 45px;
    width: 45px;
    transition: font-size 0.1s ease-in, width 0.1s ease-in, height 0.1s ease-in; 
}