.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.modalContent {
    margin-top: 5px;
}

.modalContainer {
    background-color: var(--dark-gray);
    border: 1px solid var(--light-gray);
    width: 500px;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    overflow: hidden;
    padding: 0px 7px 0px 7px;
    position: relative;
}

.modalCloseButton {
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;
    z-index: 1;
}

.modalCloseButton .close {
    fill: var(--light-gray);
}

.modalCloseButton:hover .close {
    fill: var(--white);
}