.temporaryStatistics {
    width: 900px;
    height: 300px;

    background-color: var(--dark-gray);
    border: 1px solid var(--light-gray);
    border-radius: 25px;
}

.container {
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    justify-self: center;

    margin: 50px;
}

.width {
    width: 500px;
    height: 26px;
}
