.header {
    position: relative;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1000;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 70px;
}

.inner {
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 100%;
    width: 95vw;
}

.buttons {
    display: flex;
    justify-content: space-between;

    width: 340px;
}

.buttonsAuthorized {
    display: flex;
    justify-content: space-between;
}

.logo {
    font-size: 40px;
    font-weight: 700;

    color: var(--accent);

    transition: 0.3s;
}

.logo:hover {
    cursor: pointer;

    transition: 0.3s;

    text-shadow: 0 0 15px var(--accent);
}

.separator {
    height: 1px;
    width: 95vw;
    margin: 0;

    background-color: var(--gray);
    border: none;
}

.inner .loginButton {
    background-color: var(--white);
}

.inner .loginButton:not([disabled]):hover {
    box-shadow: 0 0 15px var(--white);
}

.userInfo {
    display: flex;
    align-items: center;

    height: 40px;
    margin-left: 25px;
    gap: 20px;

    cursor: pointer;
}

.name {
    display: flex;
    align-items: center;

    height: 40px;
    padding: 0px 25px 0px 25px;

    font-size: 18px;
    font-weight: 700;

    color: var(--white);
    border: 1px solid var(--gray);
    border-radius: 15px;
}

.avatar {
    border: 1px solid var(--gray);
    border-radius: 50%;
}

.avatarButton {
    display: flex;

    height: 45px;
    width: 45px;
    padding: 0;

    background: none;
    border: none;
    border-radius: 50%;
}
