.modalOverlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 200;

    display: flex;
    justify-content: center;
    align-items: center;

    background: rgba(0, 0, 0, 0.5);
}

.modalContent {
    margin-top: 5px;
}

.modalContainer {
    position: relative;

    display: flex;
    justify-content: center;

    width: 500px;
    padding: 0px 7px 0px 7px;

    background-color: var(--dark-gray);
    border: 1px solid var(--light-gray);
    border-radius: 25px;

    overflow: hidden;
}

.modalCloseButton {
    position: absolute;
    top: 15px;
    right: 15px;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 30px;
    height: 30px;

    cursor: pointer;
}

.close {
    width: 14px;
    height: 14px;

    fill: var(--white);
}

.modalCloseButton:hover {
    background-color: var(--gray);
    border-radius: 7px;
}
