/* .color:not([disabled]):hover {
    box-shadow: 0 0 15px blue;
    background-color: blue;
} */
.test {
    margin-top: 10px;
    display: flex;
    gap: 400px;
    flex-direction: column;
}

.testb {
    margin-top: 1000px;
}