/* .color:not([disabled]):hover {
    box-shadow: 0 0 15px blue;
    background-color: blue;
} */
.test {
    display: flex;
    flex-direction: column;

    gap: 400px;
}

.testb {
    margin-top: 1000px;
}

.modalTitle {
    color: var(--white);
}

.modalInnerContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formElement {
    margin-bottom: 30px;
}
