.header {
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;

    height: 70px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: relative;
}

.inner {
    width: 95vw;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.buttons {
    width: 340px;

    display: flex;
    justify-content: space-between;
}

.buttonsAuthorized {
    display: flex;
    justify-content: space-between;
}

.logo {
    font-weight: 700;
    font-size: 40px;

    transition: 0.3s;

    color: var(--accent);
}

.logo:hover {
    transition: 0.3s;
    text-shadow: 0 0 15px var(--accent);

    cursor: pointer;
}

.separator {
    height: 1px;
    width: 95vw;

    margin: 0;
    border: none;

    background-color: var(--gray);
}

.inner .loginButton {
    background-color: var(--white);
}

.inner .loginButton:not([disabled]):hover {
    box-shadow: 0 0 15px var(--white);
}

.userInfo {
    cursor: pointer;

    height: 40px;

    display: flex;
    align-items: center;
    gap: 20px;

    margin-left: 25px;
}

.name {
    height: 40px;

    color: var(--white);
    font-weight: 700;
    font-size: 18px;

    display: flex;
    align-items: center;
    padding: 0px 25px 0px 25px;

    border: 1px solid var(--gray);
    border-radius: 15px;
}

.avatar {
    border: 1px solid var(--gray);
    border-radius: 50%;
}

.avatarButton {
    width: 45px;
    height: 45px;

    background: none;
    border: none;
    border-radius: 50%;
    padding: 0;

    display: flex;
}