.container {
    position: fixed;
    top: 0px;
    right: -330px;

    width: 330px;
    height: 100vh;
}

.menu {
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: 1000;

    width: 330px;
    height: 100vh;

    background-color: var(--dark-gray);
    border: 1px solid var(--gray);

    border-radius: 25px 0px 0px 25px;

    transition: 0.5s ease-in-out;

    display: flex;
    flex-direction: column;

    overflow: hidden;
}

.menu.active {
    right: 330px;

    transition: 0.5s ease-in-out;
}


.closeButton {
    cursor: pointer;

    position: absolute;
    top: 10px;
    right: 10px;

    width: 35px;
    height: 35px;

    background: none;
    border: none;
    padding: 0;

    display: flex;
    justify-content: center;
    align-items: center;
}

.closeButton:hover {
    background-color: var(--gray);
    border-radius: 10px;
}

.miniProfile {
    margin: 22px;

    display: flex;
    flex-direction: row;
}

.avatar {
    width: 38px;
    height: 38px;

    object-fit: cover;
    border: 1px solid var(--gray);
    border-radius: 50%;
}

.userInfo {
    margin-left: 10px;
    display: flex;
    flex-direction: column;
}

.userName {
    color: var(--white);
    font-size: 18;
    font-weight: bold;
}

.userEmail {
    color: var(--light-gray);
    font-size: 16;
    font-weight: 500;

    margin-top: 3px;
}


.itemsContainer {
    margin: 10px 18px 10px 18px;

    display: flex;
    flex-direction: column;
}

.item {
    cursor: pointer;

    display: flex;
    flex-direction: row;
    align-items: center;

    height: 35px;
    border: 0;
    border-radius: 12px;

    padding-left: 12px;

    background-color: var(--dark-gray);
}

.item:hover {
    background-color: var(--gray);
}

.item_title {
    color: var(--white);
    font-size: 20;
    font-weight: 500;

    margin-left: 10px;
}

.item_titleRed {
    color: var(--red);
    font-size: 20;
    font-weight: 500;

    margin: 0px 0px 1px 10px;
}


.bottom {
    flex: 1;
    display: flex;
    flex-direction: column-reverse;
    padding-bottom: 8px;
}

.separator {
    height: 1px;
    width: 290px;

    margin: 0 auto;
    border: none;

    background-color: var(--gray);
}