.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    height: auto;
}

.column {
    display: flex;
    flex-direction: column;

    margin: 0px 15px 0px 15px;
    gap: 30px;
}

.chapter {
    display: flex;
    flex-direction: column;

    gap: 11px;
}

.title {
    margin-left: 15px;

    font-size: 28px;
    font-weight: 700;

    color: var(--white);
}

.input {
    width: 300px;
}

.temporaryStatistics {
    width: 500px;
    height: 300px;

    background-color: var(--dark-gray);
    border: 1px solid var(--light-gray);
    border-radius: 25px;
}

.temporaryWeight {
    width: 500px;
    height: 300px;

    background-color: var(--dark-gray);
    border: 1px solid var(--light-gray);
    border-radius: 25px;
}

.modalTitle {
    color: var(--white);
}

.modalInnerContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formElement {
    margin-bottom: 30px;
}
