.container {
    height: auto;
    min-height: 770px;
    width: 700px;

    display: block;
}

.section {
    height: auto;

    display: flex;
    flex-direction: column;
}

.sectionTitle {
    color: var(--white);
    font-size: 32px;
    font-weight: 700;

    margin: 15px 30px 10px 40px;
}

.sectionSeparator {
    height: 1px;
    width: 100%;

    margin: 0;
    border: none;

    background-color: var(--gray);
}

.sectionContent {
    display: flex;
    flex-direction: row;
    gap: 30px;

    padding: 25px;
}

.column {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.sectionInputContainer {
    display: flex;
    flex-direction: column;
    gap: 3px;

    width: auto;
}

.label {
    color: var(--white);
    font-size: 16px;
    font-weight: 500;

    margin: 0px 10px 0px 10px;
}

.input {
    width: 425px;
}

.avatarContariner {
    height: 190px;
    width: 190px;

    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
}

.avatar {
    border: 1px solid var(--gray);
    border-radius: 50%;
}

.blind {
    height: 100%;
    width: 100%;

    position: absolute;
    top: 0px;
    right: 0px;

    background-color: rgba(0, 0, 0, 0);
    transition: 0.3s;
    border-radius: 50%;

    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;
}

.blind:hover {
    background-color: rgba(0, 0, 0, 0.7);
    transition: 0.3s;
}

.bigPencil {
    opacity: 0;
    transition: 0.3s;

    height: 70px;
    width: 70px;
    fill: var(--white);
}

.blind:hover .bigPencil {
    opacity: 1;
    transition: 0.3s;

    height: 70px;
    width: 70px;
    fill: var(--white);
}

.deleteAvatar {
    position: absolute;
    right: 5px;
    bottom: 5px;

    height: 35px;
    width: 35px;

    background-color: var(--dark-gray);
    border: 1px solid var(--red);
    border-radius: 9px;

    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;
}

.tick {
    height: 11px;
    width: 12px;
    fill: var(--green);
}

.cross {
    height: 11px;
    width: 11px;
    fill: var(--red);
}

.pencil {
    height: 15px;
    width: 15px;
    fill: var(--white);
}

.bin {
    height: 18px;
    width: 20px;
    fill: var(--red);
}

.saveButtonContainer {
    display: flex;
    justify-content: flex-end;
    margin: 20px;
}