.container {
    display: block;

    height: auto;
    min-height: 770px;
    width: 700px;
}

.section {
    display: flex;
    flex-direction: column;

    height: auto;
}

.sectionTitle {
    margin: 15px 30px 10px 40px;

    font-size: 32px;
    font-weight: 700;

    color: var(--white);
}

.sectionSeparator {
    height: 1px;
    width: 100%;
    margin: 0;

    background-color: var(--gray);
    border: none;
}

.sectionContent {
    display: flex;
    flex-direction: row;

    padding: 25px;
    gap: 30px;
}

.column {
    display: flex;
    flex-direction: column;

    gap: 15px;
}

.sectionInputContainer {
    display: flex;
    flex-direction: column;

    width: auto;
    gap: 3px;
}

.label {
    margin: 0px 10px 0px 10px;

    font-size: 16px;
    font-weight: 500;

    color: var(--white);
}

.input {
    width: 425px;
}

.avatarContariner {
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;

    height: 190px;
    width: 190px;
}

.avatar {
    border: 1px solid var(--gray);
    border-radius: 50%;
}

.blind {
    position: absolute;
    top: 0px;
    right: 0px;

    display: flex;
    justify-content: center;
    align-items: center;

    height: 100%;
    width: 100%;

    background-color: rgba(0, 0, 0, 0);
    border-radius: 50%;

    cursor: pointer;

    transition: 0.3s;
}

.blind:hover {
    background-color: rgba(0, 0, 0, 0.7);

    transition: 0.3s;
}

.bigPencil {
    height: 70px;
    width: 70px;

    opacity: 0;

    transition: 0.3s;

    fill: var(--white);
}

.blind:hover .bigPencil {
    height: 70px;
    width: 70px;

    opacity: 1;

    transition: 0.3s;

    fill: var(--white);
}

.deleteAvatar {
    position: absolute;
    right: 5px;
    bottom: 5px;

    display: flex;
    justify-content: center;
    align-items: center;

    height: 35px;
    width: 35px;

    background-color: var(--dark-gray);
    border: 1px solid var(--red);
    border-radius: 9px;

    cursor: pointer;
}

.tick {
    height: 11px;
    width: 12px;

    fill: var(--green);
}

.cross {
    height: 11px;
    width: 11px;

    fill: var(--red);
}

.pencil {
    height: 15px;
    width: 15px;

    fill: var(--white);
}

.bin {
    height: 18px;
    width: 20px;

    fill: var(--red);
}

.saveButtonContainer {
    display: flex;
    justify-content: flex-end;

    margin: 20px;
}
